<a href='/'>Home</a>

<h1>About</h1>
<h3>It's Complicated!</h3>
<p>I'm supposed to be working on a an exercise titled "http-with-sinatra-spike"; however I couldn't understand what it was asking me to do. For example, exercise says to, "Implement an endpoint /, also known as the root of the site and then displays a page with a link to the items page found at /items." I have absolutely no clue and do not understand what this guidance is asking me to do. I asked for assistance and was told to create my own site using the tools already introduced to us. So, that's what I'm doing.</p>
<p>In a nutshell I have no clue what today's exercise is asking me to do, but this is my best shot at building something.</p>
<a href='/lists'>Go to Lists page</a>
