<a href='/'>Home</a>

<h1>Lists</h1>
<h3>I love Lists</h3>
<p>Typically I am a huge fan of lists. I make lists for groceries, lists for tasks, lists just for the sake of making lists. However, learning to code and developing lists is a new frontier. I'm not so sure I'll enjoy lists after all of this.</p>
<h3>Ruby Lists</h3>
<p>So, in Ruby lists are essentially arrays or hashes. Again, I am quite fond of lists, but not anymore. Maybe one of these days I'll full understand arrays and hashed and will love lists again. But for the moment I'm over my fascination with lists. It doesn't apply to learning to code.</p>
<h2>More Exercise Activities</h2>
<h3>List of 4 Menu Items</h3>
<p>So the instructions for this segment of the exercise say to "Implement the /items endpoint". Again, I have no clue with that is actually saying. Maybe one day I will, but for today we're doing this my way.</p>
<p>Let's make a list of the instructions for this exercise <ul><li>Shows a webpage with a list (ul of 3 menu items on it. Each item (li) displays a name.</li><li>Shows a link to the /items/new endpoint at the top of the page.</li><li>Shows a "Show Item" link for each item in the list. The Link shoudl link to the /item/[item id] endpoint. For example for the item with id 1, the href of the link should be /item/1.</li></ul></p>
<p>Whew! I sure hope this works, but there must be a better way. This seems unnecessarily complicated.</p>
<a href='/localhost'>Go to LocalHost page</a>
