<a href='/'>Home</a>

<h1>LocalHost</h1>
<h2>A localhost is...</h2>
<p>According to Wikipedia a localhost is defined as follows: "In computer networking, localhost means this computer. It is a hostname that the computer's software and users may employ to access the computer's own network services via its loopback network interface. Using the loopback interface bypasses local network interface hardware."</p>
<h2>A hosts file is...</h2>
<p>According to Wikipedia - the ultimate resouce for accurate information - a hosts file is defined as "The hosts file is a computer file used by an operating system to map hostnames to IP addresses. The hosts file is a plain text file, and is conventionally named hosts."</p>
