<a href='/'>Home</a>

<h1>gSchool Week 3!</h1>
<h3>Using Ruby and Sinatra</h3>
<p>This is my first web based application using Ruby, Sinatra, HTML and CSS. I'm trying to figure all of this out. So far there are many gaps, but I can at least do this much. Hopefully one day in the near future I'll know enough about Ruby to understand what the heck I'm doing.</p>

<h1>Menu</h1>
<ul><li><<a href='/about'>About</a></li>
<li><<a href='/lists'>Lists</a></li>
<li><<a href='/localhost'>Local Host</a></li></ul>
